@font-face {
    font-family: 'Google Sans';
    font-style: normal;
    font-weight: 400 700;
    src: url(https://fonts.gstatic.com/s/googlesans/v69/4UaRrENHsxJlGDuGo1OIlJfC6l_24rlCK1Yo_Iq2ugCIlsw.woff2) format('woff2');
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
@font-face {
    font-family: 'Google Sans';
    font-style: normal;
    font-weight: 400 700;
    src: url(https://fonts.gstatic.com/s/googlesans/v69/4UaRrENHsxJlGDuGo1OIlJfC6l_24rlCK1Yo_Iq2vgCI.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: Inter-Variable;
    src: url(/assets/Inter-Variable-H_M6nIbt.ttf)
}

._home_cmjx9_1 ._homeHeroSection_cmjx9_42._morning_cmjx9_49 {
    background: url(/assets/morning-CcRdvl8L.png) 50%/cover no-repeat
}
._home_cmjx9_1 ._homeHeroSection_cmjx9_42._day_cmjx9_52 {
    background: url(/assets/morning-CcRdvl8L.png) 50%/cover no-repeat
}
._home_cmjx9_1 ._homeHeroSection_cmjx9_42._night_cmjx9_55 {
    background: url(/assets/night-3-Ba3J82nB.jpg) 50%/cover no-repeat
}
._home_cmjx9_1 ._homeDesignSection_cmjx9_392 ._designContent_cmjx9_404 ._designBrush_cmjx9_404 {
    background: url(/assets/brush-BkVgaPD5.svg) 50%/cover no-repeat
}
._home_cmjx9_1 ._homeDesignSection_cmjx9_392 ._designContent_cmjx9_404 ._designMacbook_cmjx9_405._morning_cmjx9_49 {
    background: url(/assets/macbook-morning-DXO3pEjE.png) 50%/cover no-repeat
}
._home_cmjx9_1 ._homeDesignSection_cmjx9_392 ._designContent_cmjx9_404 ._designMacbook_cmjx9_405._day_cmjx9_52 {
    background: url(/assets/macbook-day-CbRyii9T.png) 50%/cover no-repeat
}
._home_cmjx9_1 ._homeDesignSection_cmjx9_392 ._designContent_cmjx9_404 ._designMacbook_cmjx9_405._night_cmjx9_55 {
    background: url(/assets/macbook-night-D2FVOiw2.png) 50%/cover no-repeat
}
._home_cmjx9_1 ._homeSupportSection_cmjx9_527 ._supportContent_cmjx9_537 ._supportRight_cmjx9_553 ._supportBorderedImage_cmjx9_559._morning_cmjx9_49 {
    background: url(/assets/morning-CcRdvl8L.png) 50%/cover no-repeat
}
._home_cmjx9_1 ._homeSupportSection_cmjx9_527 ._supportContent_cmjx9_537 ._supportRight_cmjx9_553 ._supportBorderedImage_cmjx9_559._day_cmjx9_52 {
    background: url(/assets/morning-CcRdvl8L.png) 50%/cover no-repeat
}
._home_cmjx9_1 ._homeSupportSection_cmjx9_527 ._supportContent_cmjx9_537 ._supportRight_cmjx9_553 ._supportBorderedImage_cmjx9_559._night_cmjx9_55 {
    background: url(/assets/night-3-Ba3J82nB.jpg) 50%/cover no-repeat
}
._home_cmjx9_1 ._homePriceSection_cmjx9_801 ._priceContent_cmjx9_815 ._priceProducts_cmjx9_851 ._productsSubscription_cmjx9_923 ._product_cmjx9_923 ._productImage_cmjx9_944._day-1_cmjx9_950,
._home_cmjx9_1 ._homePriceSection_cmjx9_801 ._priceContent_cmjx9_815 ._priceProducts_cmjx9_851 ._productsSubscription_cmjx9_923 ._product_cmjx9_923 ._productImage_cmjx9_944._morning-1_cmjx9_959 {
    background: url(/assets/morning-1-48ZFs6MN.jpg) 50%/cover no-repeat
}
._home_cmjx9_1 ._homePriceSection_cmjx9_801 ._priceContent_cmjx9_815 ._priceProducts_cmjx9_851 ._productsSubscription_cmjx9_923 ._product_cmjx9_923 ._productImage_cmjx9_944._day-2_cmjx9_953,
._home_cmjx9_1 ._homePriceSection_cmjx9_801 ._priceContent_cmjx9_815 ._priceProducts_cmjx9_851 ._productsSubscription_cmjx9_923 ._product_cmjx9_923 ._productImage_cmjx9_944._morning-2_cmjx9_962 {
    background: url(/assets/morning-2-BYaiLuvq.jpg) 50%/cover no-repeat
}
._home_cmjx9_1 ._homePriceSection_cmjx9_801 ._priceContent_cmjx9_815 ._priceProducts_cmjx9_851 ._productsSubscription_cmjx9_923 ._product_cmjx9_923 ._productImage_cmjx9_944._day-3_cmjx9_956,
._home_cmjx9_1 ._homePriceSection_cmjx9_801 ._priceContent_cmjx9_815 ._priceProducts_cmjx9_851 ._productsSubscription_cmjx9_923 ._product_cmjx9_923 ._productImage_cmjx9_944._morning-3_cmjx9_965 {
    background: url(/assets/morning-3-Djoe_UWf.jpg) 50%/cover no-repeat
}
._home_cmjx9_1 ._homePriceSection_cmjx9_801 ._priceContent_cmjx9_815 ._priceProducts_cmjx9_851 ._productsSubscription_cmjx9_923 ._product_cmjx9_923 ._productImage_cmjx9_944._night-1_cmjx9_968,
._home_cmjx9_1 ._homePriceSection_cmjx9_801 ._priceContent_cmjx9_815 ._priceProducts_cmjx9_851 ._productsSubscription_cmjx9_923 ._product_cmjx9_923 ._productImage_cmjx9_944._night-2_cmjx9_971,
._home_cmjx9_1 ._homePriceSection_cmjx9_801 ._priceContent_cmjx9_815 ._priceProducts_cmjx9_851 ._productsSubscription_cmjx9_923 ._product_cmjx9_923 ._productImage_cmjx9_944._night-3_cmjx9_974 {
    background: url(/assets/night-4-B707M2WH.jpg) 50%/cover no-repeat
}
._home_cmjx9_1 ._homePriceSection_cmjx9_801 ._priceContent_cmjx9_815 ._priceProducts_cmjx9_851 ._productsOther_cmjx9_1089 ._product_cmjx9_923 ._productRight_cmjx9_1216 ._productImage_cmjx9_944._day_cmjx9_52,
._home_cmjx9_1 ._homePriceSection_cmjx9_801 ._priceContent_cmjx9_815 ._priceProducts_cmjx9_851 ._productsOther_cmjx9_1089 ._product_cmjx9_923 ._productRight_cmjx9_1216 ._productImage_cmjx9_944._morning_cmjx9_49 {
    background: url(/assets/morning-4-BFeRX6yn.jpg) 50%/cover no-repeat
}
._home_cmjx9_1 ._homePriceSection_cmjx9_801 ._priceContent_cmjx9_815 ._priceProducts_cmjx9_851 ._productsOther_cmjx9_1089 ._product_cmjx9_923 ._productRight_cmjx9_1216 ._productImage_cmjx9_944._night_cmjx9_55 {
    background: url(/assets/night-4-B707M2WH.jpg) 50%/cover no-repeat
}
._authentification_7h1zp_1 ._authentificationBackground_7h1zp_9 {
    background: url(/assets/morning-CcRdvl8L.png) 50%/cover no-repeat
}

body, p, h1, h2, h3, h4, h5, h6, span:not([style*="Icons"]), div:not([style*="Icons"]), button, input, a, li {
    font-family: 'Google Sans', sans-serif !important;
}

:root {
    --accent-color: #8f72ff;
}

[class*="formCaptcha"] {
    display: none !important;
}
